{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content%}

<div class="container">
	<div class="row">
		<div class="col">
			<h1>Показатели:</h1>
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
			  <label class="btn btn-secondary active">
			    <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
			  </label>
			  <label class="btn btn-secondary">
			    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
			  </label>
			  <label class="btn btn-secondary">
			    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
			  </label>
			</div>
			<h2>На этой неделе:</h2>
			<h3>Выполненные заказы:</h3>
			
			<h3>Просроченные заказы:</h3>
		</div>
	</div>
</div>




{% endblock %}