{% extends 'base.html' %}

{% block title %}Форма добавления прибыли{% endblock %}

{% block filesLink %}
	
{% load static %}

{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<form method="POST">
			
        	{% csrf_token %}
        				<h1>Форма добавления прибыли:</h1>
       					<p>
				            <label>Введите прибыль:</label><br>
				            <input type="text" name="description" class="form-control" placeholder="Введите прибыль" maxlength="400"/>
				        </p>
				        <p>
				            <label>Введите стоимость:</label><br>
				            <input type="number" name="cost" class="form-control" placeholder="Введите стоимость"/>
				        </p>
        				<input type="submit" class="btn btn-primary" value="Сохранить" >
    		</form>
		</div>
	</div>
</div>



    

{% endblock %}